body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
}

.test {
  background-color: green;
  padding: 20px;
  margin-bottom: 50px;
}

#barraPesquisa {
 display: flex;
 align-items: center;
 background-color: #f1f1f19a;
 border: 1px solid #ccc;
 border-radius: 50px;
 padding: 10px;
 width: 700px;
 margin: auto;
 margin-left: 600px;
 margin-bottom: 50px;
}

#campoPesquisa {
 flex: 1;
 border: none;
 padding: 10px;
 font-size: 16px;
 border-radius: 50px;
 margin-right: 5px;

}
#campoPesquisa:focus {
 outline: none;
}
#botaoPesquisa {
 background-color: #bdbdbd71;
 color: white;
 border: none;
 padding: 5px 10px;
 cursor: pointer;
 border-radius: 3px;
}
#botaoPesquisa:hover {
 background-color: #868686;
}


.ofertas {
  max-width: 1100px;
  margin: auto;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cabecalho h2 {
  font-size: 1.5rem;
  color: #333;
}

.cabecalho a {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.produto {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  transition: transform 0.2s;
}

.produto:hover {
  transform: scale(1.02);
}

.produto img {
  width: 100%;
  border-radius: 6px;
}

.titulo {
  font-size: 0.95rem;
  margin: 8px 0;
}

.preco {
  font-weight: bold;
  font-size: 1.1rem;
  color: #000;
  margin: 5px 0;
}

.frete {
  color: #00a650;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 6px;
}

.inline {
  height: 200px; 
  width: 200px; 
  padding-bottom: 15px;
  margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .grid-produtos {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
